<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="DeadR1der"> 
<meta name="description" content="Браузерная онлайн игра в жанре пошаговой стратегии с элементами РПГ. Простой дизайн, простые правила игры!"> 
<meta name="keywords" content="игра, онлайн, веб, пошаговая, стратегия, unendwar, turn based, strategy, web, online, game, анендвар"> 
<meta name="application-name" content="UnendWar"> 
<meta name="reply-to" content="unendwar@yandex.ru"> 
<meta name="telegram:channel" content="@unendwar">
<meta name="viewport" content="width=440px">
<link rel="icon" type="image/x-icon" href="img/icons/favicon.ico">
<title>UnendWar</title>
<link rel="stylesheet" href="style.css">