*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
body{
    padding: 5px;
}
.pointer{
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background-color: rgb(233, 232, 232);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}
/* ------------------------GAME STYLES------------------------ */
.gridGameField{
    width: 422px;
    padding: 3px;
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    align-items:flex-start;
}

#panelInfo{
    display: flex;
    justify-content: flex-start;
    align-items:stretch;
    max-width: 450px;
}
#panelInfo ul{
    margin: 0,8px;
    background-color:rgb(201, 201, 201);
    min-width: 150px;
    min-height: 145px;
    padding: 4px;
}
#panelInfo li{
    list-style-type: none;
}
#list_player{
    width: 172px;
}
#list_unit{
    max-width: 250px;
}
#panelBtns{
    min-height: 25px;
    margin: 5px,0;
}
#panelBtns button{
    height:25px;
}

.dialog-block{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 99;
    padding:30px 0;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    pointer-events: none;   
}
.dialog-block:target{
    opacity: 1;
    pointer-events: auto;
}

.dialog-create{
    display: none;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 2%;
    background: #fff;
    border-radius: 3px;
}
.dialog-end{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    margin: 10% auto;
    padding: 2%;
    background: #fff;
    border-radius: 3px;
}
.dialog-menu{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 275px;
    width: 100%;
    max-width: 350px;
    margin: 10% auto;
    padding: 2%;
    background: #fff;
    border-radius: 3px;
}
.dialog-faction{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 350px;
    width: 100%;
    max-width: 350px;
    margin: 10% auto;
    padding: 2%;
    background: #fff;
    border-radius: 3px;
}
#gameStatistic{
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: scroll;
    font-size: 20px;


}




/*
.gfCell:nth-child(-n+8):nth-child(odd){background-color: rgb(53, 140, 63);}
.gfCell:nth-child(n+9):nth-child(-n+16):nth-child(even){background-color: rgb(53, 140, 63);}
.gfCell:nth-child(n+17):nth-child(-n+24):nth-child(odd){background-color: rgb(53, 140, 63);}
.gfCell:nth-child(n+25):nth-child(-n+32):nth-child(even){background-color: rgb(53, 140, 63);}
.gfCell:nth-child(n+33):nth-child(-n+40):nth-child(odd){background-color: rgb(53, 140, 63);}
.gfCell:nth-child(n+41):nth-child(-n+48):nth-child(even){background-color: rgb(53, 140, 63);}
.gfCell:nth-child(n+49):nth-child(-n+56):nth-child(odd){background-color: rgb(53, 140, 63);}
.gfCell:nth-child(n+57):nth-child(-n+64):nth-child(even){background-color: rgb(53, 140, 63);}
*/
/* ------------------------Profile Styles------------------------ */
#profile-button{
    width: 50px;
    height: 20px;
    background-color:rgb(131, 131, 255);
    border-radius: 5px;
    margin: 3px 3px 0 0;
    padding: 2px;
    position: fixed;
    z-index: 5;
    right: 0;
    top: 0;
}
#profile-block{
    width: 350px;
    height: 500px;
    margin: 15px;
    border-radius:10px;
    /*background-color:rgb(86, 137, 179);*/
    background-color:rgb(128, 169, 203);
    position: fixed;
    z-index: 7;
    right: 0;
    top: 0;
    display: none;
    
}
.profile-header{
    padding: 5px 10px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    max-height: 40px;
}
.profile-header h4{
    font-size: 25px;
}
.profile-close{
    font-size: 20px;
}
#profile-content{
    max-height: 460px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#profile-content div{
    margin: 0 5px 12px 5px;
}
.profile-win-table{
    padding: 0 10px;
}
/* ------------------------Chat Styles------------------------ */
#chat-button{
    width: 50px;
    height: 20px;
    background-color:rgb(224, 255, 131);
    margin: 3px 3px 0 0;
    position: fixed;
    z-index: 5;
    right: 0;
    bottom: 0;
}
#chat-block{
    width: 350px;
    height: 400px;
    margin: 15px;
    border-radius:10px;
    padding: 10px;
    background-color:rgb(180, 195, 117);
    position: fixed;
    z-index: 6;
    right: 0;
    bottom: 0;
    display: none;
    
}
.chat-header{
    padding: 5px 10px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    max-height: 40px;
}
.chat-header h4{
    font-size: 25px;
}
.chat-close{
    font-size: 20px;
}
#chat-content{
    max-height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: scroll;
}
#chat-input{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
}
#chat-input input{
    width: 250px;
    height:20px;
}
#chat-input button{
    width: 50px;
    height:20px;
    text-align: center;
}
.chat-message{
    background-color:rgb(254, 255, 235);
    margin:4px;
}
/* ------------------------GAME & ROOMS STYLES------------------------*/
#room-block{
    background-color: rgb(172, 255, 255);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 440px;
    height: 600px;
}
.room-header{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
#room-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    overflow-y: scroll;
}
.room-game{
    background-color: rgb(139, 253, 253);
    margin: 0px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px;
}


#game-block{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 6px;
    width: 420px;
    min-height: 600px;
}
#game-header{
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#game-field{
    /* new */
    width: 420px;
    height: 420px;
    /* max-width: 420px; */
    /* max-height: 420px; */
    display: flex;
    flex-direction: column;
    align-items:safe center;
    justify-content: safe center;
    overflow: auto;
    background-color: gray;
    padding: 2px;
    /* old */
    /* width: 422px;
    padding: 3px;
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    align-items:flex-start; */
}
.gfRow{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.gfCell{
    width: 50px;
    height: 50px;
    margin: .5px;
    /*padding: 1px;*/
    position: relative;
    background-color: #aacd95;
    border: 1px solid black;
}
.gfCell:focus{
    border: 2px solid green;
}
.gfCell:hover{
    border: 2px solid yellow;
}
.goldCell{
    background-color:yellow;
}
.gfCell img{
    /* margin: 1px; */
    /*width: 50px;
    height: 50px;*/
    max-width: 100%;
    max-height: 100%;
    /*display: block;*/
    /*z-index: 0;*/
    /*top:0;
    left: 0;
    position: absolute;*/
}
.anim-filter{
    /*width: 50px;
    height: 50px;*/
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
}
#game-btns{
    margin: 5px 0;
    width: 416px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 25px;
    margin: 5px,0;
}
#game-btns button{
    height:25px;
}
#game-info{
    display: flex;
    justify-content: flex-start;
    align-items:stretch;
    max-width: 450px;
}
#game-info ul{
    margin: 0,8px;
    background-color:rgb(201, 201, 201);
    min-width: 150px;
    min-height: 145px;
    padding: 4px;
}
#game-info li{
    list-style-type: none;
}
.green-text{
    color: rgb(49, 199, 49);
}
.red-text{
    color: rgb(199, 49, 49);
}
#li_PlayerName{
    /* display: inline-block; */
    font-weight: bold;
    border-bottom: 2px solid rgb(255, 255, 255);
    /* text-decoration: underline white; */
    /* padding: 1px; */
    cursor:pointer;
}


/* ------------------------Menu styles------------------------ */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    margin:0 auto;
}
.menu h1{
    font-family: cursive;
    font-size: 30px;
    margin: 10px;
}
.menu h4{
    font-family: cursive;
    font-size: 20px;
    margin-bottom: 10px;
}
.menu a{
    text-decoration: none;
    text-align: center;
    width:150px;
    height: 25px;
    margin: 5px 0;
    padding: 2px 0;
    border: 1px solid black;
    background-color:rgb(215, 236, 255);

    
}


/* ------------------------other pages STYLES------------------------ */

.headerPage{
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}


/* ------------------------INFO PAGES Styles------------------------ */
.factions-header{
    font-size: 20px;
    text-align: center;
    margin: 0 0 10px 0;
}
.faction-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 430px;
    margin: 0 0 40px 0;
    padding: 0 10px;
}


.info-table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.info-table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.info-table td {
	border: 1px solid #dddddd;
	padding: 5px;
}



.tab{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.tab-nav{
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(170, 170, 170);
    padding: 5px;
    
}
.tab-link{
    margin:4px;
}
.tab-content{
    width: 70%;
}
.tab-item{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

